<html>
    
        <head>
            {% load static %}
                

                
                <link rel="stylesheet" href="{% static 'lib/bootstrap-5.2.2-dist/css/bootstrap.min.css'%}" crossorigin="anonymous"></link>
                <link rel="icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
                <script src="{% static 'lib/bootstrap-5.2.2-dist/js/bootstrap.min.js'%}" crossorigin="anonymous"></script>
               
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/5045960a08.js" crossorigin="anonymous"></script>

                
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>Ec-citizen</title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">



           {% block head %}

            {% endblock %}
            <style>
    .icono-campana {
      position: relative;
      display: inline-block;
    }
    .icono-campana i {
      font-size: 23px;
      margin-top: 20px;
      margin-right: 20px; /* Tamaño del icono de la campana */
    }

    .numero {
      position: absolute;
      margin-top: 20px;
      margin-right: 20px;
      top: -4px;
      right: 0px;
      background-color: rgb(226, 37, 37);
      color: rgb(255, 255, 255);
      border-radius: 50%;
      width: 14px; /* Asegura que el ancho sea igual a la altura */
      height: 14px; /* Asegura que la altura sea igual al ancho */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px 3px;
      font-size: 10px;
      
    }

    
    
  </style>
        </head>
        
    
        <body>


          <div class="">
            <nav class="navbar navbar-expand-lg navbar bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="color: aliceblue;">
                        <h1>Ec-citizen</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" style="color: aliceblue;">
                                    <i class="fa-solid fa-house" style="color:aliceblue">&nbsp;</i>Inicio
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'config' %}" style="color: aliceblue;">
                                            <i class="fa-solid fa-book" style="color:aliceblue">&nbsp;</i>Admin
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}" style="color: aliceblue;">
                                        <i class="fas fa-sign-in-alt" style="color:aliceblue">&nbsp;</i>Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}" style="color: aliceblue;">
                                        <i class="fa-solid fa-address-card" style="color: aliceblue">&nbsp;</i>Registrarse
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if request.user.is_authenticated %}
                            <ul class="navbar-nav ms-auto">
                                {% if request.user.is_superuser %}
                                    <li class="nav-item" style="margin-bottom: 20px;">
                                        <a href="{% url 'listnotifadmin' %}">
                                            <div class="icono-campana">
                                                <i class="fa-solid fa-bell" style="color:aliceblue">&nbsp;</i>
                                                {% if contador_notis != 0 %}
                                                    <span class="numero">{{contador_notis}}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item" style="margin-bottom: 20px;">
                                        <a href="{% url 'listnotifuser' %}">
                                            <div class="icono-campana">
                                                <i class="fa-solid fa-bell" style="color:white">&nbsp;</i>
                                                {% if contador_notis_user != 0 %}
                                                    <span class="numero">{{contador_notis_user}}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    {% if request.user.avatar %}
                                        <img class="rounded-circle" src="{% get_media_prefix %}{{user.avatar}}" width="51px" height="51px" borders="45px">
                                    {% else %}
                                        <img class="rounded-circle" src="{% static 'default-avatar.jpg' %}" width="51px" height="51px" borders="45px">
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' request.user.username %}" style="color:white">
                                        <b>{{request.user}}&nbsp;&nbsp;&nbsp;</b>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-center" href="{% url 'logout' %}">
                                        <i class="fa-solid fa-right-from-bracket" style="color:rgb(26, 26, 26)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        
        <div style="margin-top: 30px;">

        </div>
        
         <div class = ''> 
          
          {% if messages %}
          {% for message in messages %}
              <div class= "alert {{message.tags}}" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
          {% endif %}
                  
          
          </div>

          {% block content %}
            
            {% endblock %}
          </div>
          </body>

            {% block javascript %}

            {% endblock %}
       
            
                            
        
    
            
      
    </html>