<!-- payment.html -->
<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}

<html>
    {% block head %}
    <head>
        <title>Mercado Pago Checkout</title>
        <script src="https://sdk.mercadopago.com/js/v2"></script>
    </head>
    {% endblock %}

    {% block content %}
<body>
    <div id="button-container">
        
    </div>
    
    <script>
        const mp = new MercadoPago('TEST-269e1c2c-2479-4af9-98c5-167b7ba3f968', {
            locale: 'es-AR'
        });

        function initMercadoPagoCheckout() {
            fetch('/check-out/')
                .then(response => response.json())
                .then(preference => {
                    mp.checkout({
                        preference: {
                            id: preference.id
                        },
                        render: {
                            container: '#button-container',
                            label: 'Pagar',
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            document.addEventListener('DOMContentLoaded', function() {
            initMercadoPagoCheckout();
        });
    </script>
</body>
{% endblock %}
</html>
