<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="container-fluid text-center">
    <h5 style="color: darkgrey">Por favor, necesitas ingresar con un usuario para navegar. 
        <br>Si no tienes cuenta puedes registrarte.</h5>
    <div class="row justify-content-center mt-4">
        
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'login' %}" style = 'margin-top: 20px;'>Login</a>
        </div>
        <span></span>
        <div class="col-sm-12 d-flex justify-content-center mt-2 mt-sm-0">
            <a class="btn btn-primary" href="{% url 'register' %}"style = 'margin-top: 20px;'>Registrarse</a>
        </div>
    
    </div>
</div>
{% else %}

<div class="container-fluid text-center">
    <h5 style="color: darkgrey; margin-top:30px;">Quiere ingresar a ver las contraseñas?.</h5>
    <div class="row justify-content-center mt-4">
        
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="#" style = 'margin-top: 20px;'>Lista</a>
        </div>
        <span></span>
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'profile' request.user.username %}" style = 'margin-top: 20px;'>Perfil</a>
        </div>
    
    </div>
</div>
{%endif%}

{% endblock %}