



<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container" style="height: 60px;">
    <h2>{{title}}</h2>
</div>

<html>
<head>
    <title>Restablecer Contraseña</title>
</head>
<body>
        <div class='container'>
        
        </div>
<div class="row">
	{% if messages.success %}
	<div class="alert alert-success" role="alert">
		{{messages.success}}
	</div>
	{% endif %}
	<div class="col-md-4 mx-auto">
		
			<h6>Tu contraseña ha sido cambiada correctamente. <a href="{% url 'login' %}">Login</a></h6>
		
	</div>
</div>


</body>
{% endblock %}

</html>