<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container" style="height: 60px;">
    <h2>{{title}}</h2>
</div>

<html>
<head>
    <title>Restablecer Contraseña</title>
</head>
<body>
        <div class='container'>
        
        </div>
<div class="row">

	<div class="col-md-4 mx-auto">
	<form method="post">
		{% csrf_token %}
		<h2 class="mb-4"></h2>
		
		{% for field in form %}
		<div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
				<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
				<input class="form-control" type="password" name="{{field.name}}" autocomplete="new-password" required="">
				
				{% if field.errors %}
				<div class="alert alert-danger" role="alert">
					<small>{{ field.errors|striptags }}</small>
				</div>
				{% endif %}
				
			</div>
		{% endfor %}
	
		<div class="form-buttons">
			<input type="submit" value="Reestablecer contraseña" class="btn btn-primary">
			<a href="{%url 'login' %}"  class="btn btn-outline">Cancelar</a>
		</div>
	</form>
</div>
</div>


</body>
{% endblock %}

</html>