<!DOCTYPE html>
{% extends 'base.html'%}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/css/responsive.bootstrap5.min.css' %}"/>
<script src="{% static 'lib/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/DataTables-1.13.1/plugins/responsive-2.4.0/js/responsive.bootstrap5.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container" style="height: 60px;">
    <h2>{{title}}</h2>
</div>

<html>
<head>
    <title>Restablecer Contraseña</title>
</head>
<body>
        <div class='container'>
        
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form id="resetform" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ field.errors }}
                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <label for="email" class="form-label">Correo electrónico:</label>
                        <input name="email" id="email" class="form-control" value="{{ user_profile.email }}" >
                    </div>

                   <div class="form-buttons">
                        <input type="submit" value="Enviar" class="btn btn-primary">
                        <a href="{%url 'login' %}"  class="btn btn-outline">Cancelar</a>
                    </div>

        
             
                </form>
            </div> 

        </div>
    

</body>
{% endblock %}



</body>
</html>